/** flex-grid.css
   author: Michael Williams
   Date: 10/27/2016
   updated: 10/29/2016
   version: 0.5
***/
/*-----------------------------------------
use case .col should equal 12 if not items will wrap inside .row
--------------------------------------------*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}/*row is to small wraps items inside section*/

.col-3, .col-4, .col-6, .col-12 {
  padding-bottom: .25em;
}

@media (min-width: 40em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col-3, .col-4, .col-6, .col-12 {
    margin-left: 1.04166666%;
    margin-right: 1.04166666%;
  }

  .col-3 {
    flex-basis: 22.91666668%;
  }

  .col-4 {
    flex-basis: 31.24666668%;
  }

  .col-6 {
    flex-basis: 47.91666668%;
  }

  .col-12 {
    flex-basis: 97.91666668%;
  }
}/**  end only media-query 40em **/
