header {
  background-color: #F0BD35;
  position:fixed;
  padding-left: 2.0833333333333332%;
  top: 0;
  width: 100%;

}
h1 {
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 700;

}
p {
  margin-top: .25em;
}
main {
  margin-top: 7.5em;
}
article {
  width: 20em;
}
section {
  display: inline-flex;
}

img {
  min-width: 6.25%;
  max-width: 20em;
}
/**************************
helpers
***************************/
.card {
  /*width: ;*/
  border: 1px solid lightgrey;
}
.txt {
  text-align: left;
}
/*************************
header
**************************/
