header {
  background-color: #F0BD35;
  position:fixed;
  top: 0;
  width: 100%;
}
h1 {
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 700;

}
p {
  margin-top: .25em;
}

main {
  margin-top: 2em;
}
img {
  width: 100%;
}
/**************************
helpers
***************************/
.card {

}
.txt {
  text-align: left;
}
/*************************
header
**************************/
